@use '../var';
@use '../font';

.banner{
    &__bottom{
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        perspective: 50rem;
        p{
            font-family: 'Spongeboy';
            text-transform: uppercase;
            font-size: 10.5vw;
            transform-style: preserve-3d;
            color: var.$color;
            transform-origin: center;
            transform: rotateX(65deg);
        }
    }
}