@use '../var';
@use '../font';

.container {
    position: relative;
    width: 100%;
    max-width: calc(var.$width * 2);
    height: 28rem;
    perspective: 2000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    @media screen and (min-width: 620px) {
      height: var.$height;
      max-width: calc(var.$width);
    }
    &__carousel {
      transform-style: preserve-3d;
      width: 100%;
      max-width: var.$width;
      height: var.$height;
      &--img{
        width: 100%;
        aspect-ratio: 16/9;
        img{
          width: 100%;
          aspect-ratio: 16/9;
        }
      }
      &--tooltip{
        position: absolute;
        width: calc(100% + 0.2rem);
        aspect-ratio: 1/1;
        background-color: var.$background-color-carousel;
        color: var.$color;
        left: 0;
        bottom: 0;
        transform: scale(0);
        transform-origin: 0 100%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
      }
      &--desc{
        position: relative;
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transform: translateZ(0.01px);  
      }
      &--link {
        font-family: 'SpaceMono-Italic';
        position: relative;
        list-style-type: none;
        a {
          color: var.$color;
          text-align: center;
          font-size: 1.3rem;
        }
        .s1 span {
          transform-origin: bottom;
        }
        .s2 span {
          transform-origin: top;
          color: transparent;
          transform: translateY(100%) rotateX(-90deg);
        }
        .s2 {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
        &:hover .s1 span {
          color: transparent;
          transform: translateY(-100%) rotateX(-90deg);
        }
        &:hover .s2 span {
          color: var.$color;
          transform: translateY(0%) rotateX(0deg);
        }
      }
      &--tagStack{
        color: transparent;
        width: 1rem;
        padding-right: 0.5rem;
        font-size: 0.8rem;
        text-transform: uppercase;
        writing-mode: vertical-rl;
        text-orientation: upright;
        position: absolute;
        height: 110%;
        right: 0;
        bottom: -0.5rem;
        text-align: center;
        -webkit-text-stroke: 0.5px #fff;
        text-stroke: 0.5px #fff;
      }
      &--face {
        background-color: var.$background-color-carousel;
        position: absolute;
        width: var.$width;
        height: var.$height;
        transform-style: preserve-3d;
        border: 1px solid var.$border-color-carousel;
        &:hover .container__carousel--tooltip{
          transition: 0.4s;
          transform: scale(1) translateY(0.5rem) translateX(-0.1rem);
            border-radius: 0;
        }
      }
      &-glow-ground{
        position: absolute;
        width: var.$width;
        height: var.$width;
        background-color: white;
        opacity: 0.4;
        left: 50%;
        transform: rotateX(90deg) translateX(-50%) translateZ(-14rem);
        box-shadow: 0px 0px 80px 80px #fff;
      }
    }
    .hide{
      display: none;
    }
}