$height-header: 5rem;
$color: #ceafaf;
$background-color: #0c0c0c;
$background-color-carousel: #222222;
$border-color-carousel: #303030;
$sizes-cube: 2rem;
$width: 20rem;
$height: 20rem;
$size-btn: 3.25rem;
$stroke-square: 200;
$stroke-arrow: 109.73954010009766;
