$height-header: 5rem;
$color: #ceafaf;
// $color: #ceafafb5;
$background-color: #0c0c0c;
$background-color-banner: #0c0c0c;
$background-color-carousel: #3d3c3c;
$border-color-carousel: #555555;
$sizes-cube: 1.5rem;
$width: 20rem;
$height: 20rem;
$size-btn: 3.25rem;
$stroke-square: 200;
$stroke-arrow: 109.73954010009766;
$duration-animation-button-header: 0.5s;
$cubic-bezier: .47,1.64,.41,.8;